@media screen and (max-width: 834px) {
  #photo {
    ul {
      display: block;
      // flex-directionで縦並びしてもok
      li {
        width: 100%;
        img {
          height: 50vh;
        }
      }
    }
  }
  #service {
    .service_item {
      flex-direction: column;
      // 早速使ってみた。
      img {
        height: auto;
      }
    }
  }
}