html {
  font-size: 100%;
}

body {
  background-color: $white;
  color: $black;
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  color: $black;
}